body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #7f776b;
  background: #fcfcfc;
  margin: 0;
  padding: 0;
}
a:link{ 
 text-decoration:none;
} 
a, a:link, a:visited
{
  color: #5a84b3;
  text-decoration: underline;
}

a:hover
{
  text-decoration: none;
}

button
{
  cursor: pointer;
}

ul
{
  margin: 0;
  padding: 0;
}

li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header
{

  width: 100%;
  padding: 40px 0 0 0;
}

header h1{
  font-size: 30px;
  font-weight: normal;
  color: #555;
  text-align: center;
  margin: 21px auto;
  padding: 5px 0 10px 0;
  border:0px;
  max-width: 957px;
}

#title-main img{vertical-align:-11px;margin-right:15px;}

h1,h2,h3
{
 font-family:Helvetica, CreteRound, Arial, sans-serif;
}

h2
{
  font-size: 26px;
  font-weight: lighter;
  color: #968d81;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h3
{
  font-size: 22px;
  color: #7F776B;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 24px;
}

h4
{
  font-size: 15px;
  color: #7f776b;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

section
{
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 760px;
  background:none;
  padding: 40px 100px;
}

section > p
{
  margin: 15px 0 0 0;
}
#logo{
  margin: 0 auto;
  height: 60px;
  width: 60px;
  display: block;
  background-image: url(img/abs-icon-big.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#can-do-more
{
  max-width: 960px;
  padding: 0px 0px 0px 0px;
}
.i18n_firstRun_features{
	padding:25px 0px;background:#e6f4f9;
	color:#555;
	font-size:24px;
}
#share
{
  padding: 50px 100px 40px 100px;
  max-width: 760px;
  text-align: center;
  font-family: CreteRound, Helvetica, Arial, sans-serif;
  border:solid 3px #cad8f4;
  border-radius:4px;
  background:#fff;
}
#share h2
{
  color: #555;
  margin: 0 0 30px 0;
  font-size:24px;
  font-family: Helvetica, CreteRound,Arial, sans-serif;
}

#share h2 > a
{
  color: #fff;
}

#share h2 > a:hover
{
  color: #2e5075;
}

#share span
{
  color: #666;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  display: block;
}

#donate:hover, .share-buttons a:hover
{
  box-shadow: 0px 0px 0px 2px #8ca7c4;
  border-radius: 30px;
}
#donate-block{display:none;}
#donate-block span, #share-block span
{
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}

#donate-block, #share-block
{
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0 5px 0;
}

#donate-block
{
  border: 1px dashed #37506d;
  border-style: none dashed;
  border-left: none;
  width: 50%;
}

#share-block
{
  border:0px;
  /*width: 49%;*/
}

.share-buttons
{
  width: 440px;
  margin: 6px 0PX 0PX 3PX;
  cursor: pointer;
  vertical-align: top;
  font-size: 0px;
  line-height: 0px;
}

.share-buttons > a
{
  width: 50px;
  height: 50px;
  margin: 0PX 25PX;
  text-decoration: none;
  display: inline-block;
}

#share-general,
:root[lang^="zh-"] #share-chinese
{
  display: block;
}

:root[lang^="zh-"] #share-general,
#share-chinese
{
  display: none;
}

#share-chinese > a
{
  border-bottom: 2px solid transparent;
}

#share-chinese > a:hover
{
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #8CA7C4;
}

#share-facebook
{
  background-image: url(img/google.png);
  background-repeat: no-repeat;
}

#share-chrome
{
  background-image: url(img/chrome.png);
  background-repeat: no-repeat;
}
#share-gmail
{
  background-image: url(img/gmail.png);
  background-repeat: no-repeat;
}

#share-gplus
{
  background-image: url(img/googleplus.png);
  background-repeat: no-repeat;
}



.share-button
{
  display: inline-block;
  width: 82px;
  height: 82px;
}

#glass-pane, #share-popup
{
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}




h4.pos_abs
{
position:absolute;
left:719px;
top:355px
}
h4.pos_abs1
{
position:absolute;
left:810px;
top:355px
}
h4.pos_abs2
{
position:absolute;
left:920px;
top:355px
}
h4.pos_abs3
{
position:absolute;
left:1027px;
top:355px
}

#acceptable-ads,#acceptable-ads h2{color:#555!important;}

.step{
	margin-left:0px;
	padding-top: 10px;
	padding-right: 28px;
	padding-bottom: 15px;
	padding-left: 28px;
}
.step dt{height:48px;background:#f1f1f1;color:#666;text-indent:30px;border-radius:5px}
.step dd{text-align:center;padding:30px 0}.step .ie-btn{text-decoration:none; width:130px;height:42px;line-height:42px;font-size:18px;font-family:"Microsoft YaHei";padding-left:1px;border:1px solid #dddddd;border-radius:5px;display:block;margin:0 auto;color:#FF0000;}.step .ie-btn:hover{color:#3eaf0e;border-color:#3eaf0e}

.STYLE6 {font-size: 16px}
.share-tips a {
    padding: 10px;
}

.share-tips {
    width: 440px;
}
